<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      class="h-full bg-gray-50">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/app.css}"/>
    <link rel="icon" type="image/x-icon" href="https://storage.payaise.com/logo/favicon-transparent.ico">
    <script defer th:src="@{/js/app.js}"></script>
</head>
<body class="h-full">

<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <img
                class="mx-auto h-12 w-auto"
                src="https://storage.payaise.com/logo/favicon-transparent.png"
                alt="PayAise logo"
        >
        <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">
            <div layout:fragment="title"></div>
        </h2>
        <p class="mt-2 text-center text-sm text-gray-600">
            Or
        <div layout:fragment="titleLink"></div>
        </p>
    </div>

    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10" layout:fragment="content"></div>
    </div>
</div>
</body>
</html>